* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf6f8;
}

header {
  position: relative;
  height: 650px;
  min-height: 500px;
  width: 100%;

  text-align: center;
  overflow: hidden;
}
header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

header .banner-text {
  width: 100%;
  margin-bottom: 20rem;
}
header .banner-text h1 {
  font: 90px/1.1em "opensans-bold", sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}
header .banner-text h3 {
  font: 18px/1.9em "librebaskerville-regular", serif;
  color: #252525;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
header .banner-text h3 span,
header .banner-text h3 a {
  color: #fff;
}
header .banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2f2d2e;
  border-color: rgba(150, 150, 150, 0.1);
}

/* scrolldown link */
header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .scrolldown a:hover {
  color: #11abb0;
}

/* primary navigation
--------------------------------------------------------------------- */

#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */

#nav-wrap {
  font: 12px "opensans-bold", sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  transition: top 0.8s;
}
.opaque {
  background-color: #333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
  display: none;
}

ul#nav {
  min-height: 48px;
  width: auto;

  /* center align the menu */
  text-align: center;
  padding-left: 40rem;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
ul#nav li a {
  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #f06000;

  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

ul#nav li a:active {
  background-color: transparent !important;
}
ul#nav li.current a {
  color: #f06000;
}

.social {
  margin-top: 60px;
  display: flex;
  padding: 8px 13px;
  position: absolute;
  bottom: 240px;
  margin-left: 24rem;
}
.social i {
  padding-right: 65px;
  font-size: 30px;
  color: #d5d6d6;
}
.social i:hover {
  color: #e41717;
}
header .profilepic {
  border-radius: 20rem;
  height: 15rem;
  opacity: 80%;
}
#about .biopic {
  float: left;
  border-radius: 20rem;
  height: 15rem;
  opacity: 80%;
  margin-right: 20px;
}
.typingeffect {
  color: snow;

  display: flex;
  align-items: center;
  margin-left: 15rem;
  text-shadow: 0px 5px 6px rgba(0, 0, 0, 0.8);
  font: 80px/1.1em "opensans-bold", sans-serif;
  opacity: 85%;
}
/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
  background: #2b2b2b;
  padding-top: 20px;
  padding-bottom: 66px;
  overflow: hidden;
  padding-left: 15rem;
}

#about a,
#about a:visited {
  color: #fff;
  padding-top: 24px;
}
#about a:hover,
#about a:focus {
  color: #349e9e;
}

#about h2 {
  font: 22px/30px "opensans-bold", sans-serif;
  color: rgb(241, 134, 134);
  margin-bottom: 12px;
  padding-left: 5px;
  margin-left: 3px;
  float: left;
}
#about p {
  line-height: 30px;
  color: #7a7a7a;
  padding-left: 17rem;
  padding-top: 70px;
}

#about .contact-details {
  width: 41.66667%;
  padding-left: 17rem;
}
#about .download {
  width: 58.33333%;
  padding-top: 6px;
  color: #11abb0;
}
#about .main-col {
  padding-right: 5%;
}
#about .download .button {
  margin-top: 6px;
  background: #444;
  font-size: 20px;
  padding-right: 30px;
  padding-bottom: 24px;
  color: #11abb0;
  padding-left: 23px;
}
#about .download .button:hover {
  background: #fff;
  color: #2b2b2b;
}
#about .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
  background: #fff;
  padding-top: 90px;
  padding-bottom: 0px;
  overflow: hidden;
  margin-left: 1px;
  padding-left: 12rem;
}

#resume a,
#resume a:visited {
  color: #11abb0;
}
#resume a:hover,
#resume a:focus {
  color: #313131;
}

#resume h1 {
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#resume h1 span {
  border-bottom: 3px solid #11abb0;
  padding-bottom: 6px;
}
#resume h3 {
  font: 25px/30px "opensans-bold", sans-serif;
  border-bottom: 1px solid #e8e8e8;
}

#resume .header-col {
  padding-top: 9px;
}
#resume .main-col {
  padding-right: 10%;
}

.education {
  margin-bottom: 48px;
  padding-bottom: 24px;
}
.work {
  padding-top: 48px;
  padding-bottom: 24px;
  padding-left: 2rem;
}
#resume .info {
  font: 16px/24px "librebaskerville-italic", serif;
  color: #6e7881;
  margin-bottom: 18px;
  margin-top: 9px;
}
#resume .info span {
  margin-right: 5px;
  margin-left: 5px;
}
#resume .date {
  font: 15px/24px "opensans-regular", sans-serif;
  margin-top: 6px;
  margin-left: 5px;
}
/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/
#skill h1 {
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 20px;
  padding-left: 2rem;
}

/* Portfolio */

.flex-container {
  background-color: #2f2d2e;
  margin-top: 1px;
  padding-top: 60px;
  padding-bottom: 73px;
  overflow: hidden;
  margin-left: 8rem;
  padding-left: 12rem;
  width: 80%;
}
#myCarousel h4 {
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 0rem;
  padding-left: 1rem;
}
#myCarousel .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  text-shadow: none;
  height: 120px;
}

#myCarousel .list-group {
  position: absolute;
  top: 0;
  right: 0;
}
#myCarousel .list-group-item {
  border-radius: 0px;
  cursor: pointer;
}
#myCarousel .list-group .active {
  background-color: #eee;
}

@media (min-width: 992px) {
  #myCarousel {
    padding-right: 0.3333%;
  }
  #myCarousel .carousel-controls {
    display: block;
  }
}
@media (max-width: 991px) {
  .carousel-caption p,
  #myCarousel .list-group {
    display: block;
  }
}
/* Contact Form */
#contact {
  background: #191919;
  padding-top: 68px;
  padding-bottom: 102px;
  color: #636363;
}
#contact .section-head {
  margin-bottom: 32px;
}

#contact a,
#contact a:visited {
  color: #11abb0;
}
#contact a:hover,
#contact a:focus {
  color: #fff;
}

#contact h1 {
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ebeeee;
  margin-bottom: 30px;
  margin-left: 34px;
  margin-top: 1px;
}
#contact h1 span {
  border-bottom: 3px solid #11abb0;
  padding-bottom: 6px;
}
#contact h1:before {
  font-family: "FontAwesome";
  content: "\f0e0";
  padding-right: 10px;
  font-size: 72px;
  line-height: 72px;
  text-align: left;
  float: left;
  color: #ebeeee;
}

#contact h4 {
  font: 16px/24px "opensans-bold", sans-serif;
  color: #ebeeee;
  margin-bottom: 6px;
  text-align: top;
}
#contact p.lead {
  font: 18px/36px "opensans-light", sans-serif;
  padding-right: 3%;
  text-align: right;
}
#contact .header-col {
  padding-top: 6px;
}

/* contact form */
#contact form {
  margin-bottom: 30px;
}
#contact label {
  font: 15px/24px "opensans-bold", sans-serif;
  margin: 12px 0;
  color: #ebeeee;
  display: inline-block;

  width: 26%;
}
#contact input,
#contact textarea,
#contact select {
  padding: 18px 20px;
  color: #eee;
  background: #373233;
  margin-bottom: 42px;
  border: 0;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  width: 65%;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
  color: #fff;
  background-color: #11abb0;
}
#contact .submit {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  background: #0d0d0d;
  border: none;
  cursor: pointer;
  height: auto;
  display: inline-block;
  border-radius: 3px;
  margin-left: 26%;
}
#contact .submit:hover {
  color: #0d0d0d;
  background: #fff;
}

#message-warning,
#message-success {
  display: none;
  background: #0f0f0f;
  padding: 24px 24px;
  margin-bottom: 36px;
  width: 65%;
  margin-left: 26%;
}
#message-warning {
  color: #d72828;
}
#message-success {
  color: #11abb0;
}

#message-warning i,
#message-success i {
  margin-right: 10px;
}
#image-loader {
  display: none;
  position: relative;
  left: 18px;
  top: 17px;
}
aside {
  width: 40%;
  padding-left: 5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}

aside > p {
  margin: 0.5rem;
}

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
  padding-top: 0rem;
  margin-top: 0px;
  color: #303030;
  font-size: 10px;
  text-align: center;
  position: relative;
}

footer a,
footer a:visited {
  color: #525252;
}
footer a:hover,
footer a:focus {
  color: #fff;
}

/* copyright */
footer .copyright {
  margin: 0;
  padding: 0;
}
footer .copyright li {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 24px;
}
.ie footer .copyright li {
  display: inline;
}
footer .copyright li:before {
  content: "\2022";
  padding-left: 10px;
  padding-right: 10px;
  color: #095153;
}
footer .copyright li:first-child:before {
  display: none;
}

/* social links */
footer .social-links {
  margin: 0px 0 30px 0;
  padding: 0;
  font-size: 15px;
  padding-top: 3rem;
  margin-bottom: 0rem;
  padding-bottom: 10px;
}
footer .social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 22px;
  color: #f06000;
  align-items: center;
}

footer .social-links li:first-child {
  margin-left: 0;
}
/* Go To Top Button */
#go-top {
  position: absolute;
  top: -60px;
  left: 50%;
  margin-left: -30px;
  opacity: 70%;
}
#go-top a {
  text-decoration: none;
  border: 1px solid rgb(158, 158, 158);
  display: block;
  width: 48px;
  height: 48px;
  background-color: #3f3939;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: rgb(183, 166, 230);
  font-size: 38px;
  line-height: 45px;
  border-radius: 100%;
}
#go-top a:hover {
  background-color: #0f9095;
}
